server:
  port: 8081
  servlet:
    context-path: /api/v1

spring:
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
    consumer:
      group-id: pmd-proposal-client-consumer-group

# Custom Kafka topic configuration
kafka:
  topics:
    project-intake: proposal-client-topic